[2020-12-19 02:55] Iapetus-11 opened #1 "Create basic models for packets, as well as code to encode + decode them"
Create the models for packets and data types sent and received by the server, as well as code to encode and decode them to make it easier to dev server

[2020-12-20 19:49] Iapetus-11 opened #3 "Add implementation of NBT"
- Must support all NBT types supported by Minecraft
- Must support loading NBT from bytes
- Must support dumping NBT to bytes

[2020-12-20 19:52] Iapetus-11 opened #4 "Implement all packets"
Once base packet class is done, start creating all the packets. These packets should go under `src/types/packets` and should be subclasses of `src.types.packet.Packet`. For a list of all the packets, look here: https://wiki.vg/Protocol **(Important: this link displays the most recent versions protocol, to view a specific version go [here](https://wiki.vg/Protocol_version_numbers))**

**__Packet Ma

[2020-12-20 19:54] Iapetus-11 opened #5 "Create class for entity"
Create an entity class with necessary information about that entity. Look on wiki.vg or here: https://wiki.vg/Protocol#Spawn_Entity to see what needs to be added.

* This should be located in `src/types/entity.py` or something similar.
* This should contain helpful classmethods such as creating the packet data for spawning, moving, and other interactions with the entity

[2020-12-21 01:51] #3 closed, assigned to nobody

[2020-12-21 01:53] Iapetus-11 opened #9 "Sort buffer.py and make pretty"
Sort the methods in buffer.py by relevance and importance

[2020-12-21 01:54] #1 closed, assigned to Iapetus-11

[2020-12-21 01:58] Iapetus-11 opened #11 "Finish pack_slot and unpack_slot"
Methods were forgotten and need to be completed

[2020-12-21 01:59] #9 closed, assigned to Iapetus-11

[2020-12-21 02:41] #11 closed, assigned to Iapetus-11

[2020-12-21 02:46] Iapetus-11 opened #14 "Update buffer code to latest from quarry source"
The current buffer code is based off quarry's code for Minecraft 1.7. We need to update this to the latest available.

[2020-12-22 03:05] #14 closed, assigned to Iapetus-11

[2020-12-22 18:40] Iapetus-11 opened #16 "Add Buffer functions for handling entity metadata"
There's missing buffer methods for packing and unpacking entity metadata. See here for information on entity metadata: https://wiki.vg/Entity_metadata#Entity_Metadata_Format

[2020-12-22 21:58] #16 closed, assigned to Iapetus-11

[2020-12-22 22:06] Sh-wayz opened #23 "Sphinx docstrings"
**Is your feature request related to a problem? Please describe.**
Need me some hot docstrings.

**Describe the solution you'd like**
Add sphinx-styled descriptive docstrings to all classes/major functions.

**Describe alternatives you've considered**
no❤️
**Additional info:**
https://atom.io/packages/docblock-python

[2020-12-25 03:51] Iapetus-11 opened #32 "Add uvloop support"
Add uvloop to requirements.txt and use it in server.py

[2020-12-25 04:33] #32 closed

[2020-12-25 17:35] Iapetus-11 opened #39 "Use immutable types to speed up registries and constants"
See here for immutable dicts and other types: https://github.com/MagicStack/immutables

[2020-12-25 18:37] #39 closed

[2020-12-25 19:15] Iapetus-11 opened #46 "Basic server connection + state logic"
Add basic server connection handling and state changing logic. Should be able to deal with status packets, and login a player.

[2020-12-25 20:48] Iapetus-11 opened #49 "Finish Buffer.unpack_packet()"
Finish Buffer.unpack_packet() now that PACKET_MAP has been finished

[2020-12-25 21:00] #49 closed

[2020-12-28 17:21] Iapetus-11 opened #90 "Add proper console"
Console should have like two sections, horizontally split. The bottom-most one should be just one row/line and should contain a `>` and whatever the user is typing. The above section should contain output/logging information. If a user is typing, what they've typed should not be overwritten by any logging/output.

You can see any modern console, such as paper/bukkit/vanilla for how this looks/feel

[2020-12-28 17:23] Iapetus-11 opened #91 "Add proper commands API"
Commands should be implemented via decorator, discord.py style. Decorators should contain the name of the command, any aliases, permission node of the command, namespace of the command, etc... Functions under decorators should only be async.

[2020-12-28 18:50] #46 closed

[2020-12-28 18:53] Iapetus-11 opened #94 "Add uvloop support for devices running linux"
Use the os module to check if the os is linux. If so, and if uvloop is available, use it.

[2020-12-28 19:18] Iapetus-11 commented on #94
Apparently PyPy and uvloop don't cooperate with each other currently.

[2020-12-28 19:18] #94 closed

[2020-12-28 19:22] Iapetus-11 commented on #5
Not needed currently

[2020-12-28 19:22] #5 closed

[2020-12-28 19:23] Iapetus-11 opened #95 "Cleanup"
Cleanup server.py code and files under src/logic

[2020-12-28 20:47] #95 closed

[2020-12-29 02:37] #91 closed

[2020-12-29 02:50] Iapetus-11 opened #105 "Cleanup packet handling code"
cause *** it is fugly (and not good for implementing api hooks)

[2020-12-29 04:05] #105 closed

[2020-12-29 14:04] Sh-wayz opened #111 "Improve developer commands"
**Is your feature request related to a problem? Please describe.**
I don't like how there are flags for some states but not others.

**Describe the solution you'd like**
--dump-packets flags for all states, maybe some color in dumped packets, code cleanup

[2020-12-29 19:22] Iapetus-11 opened #112 "Play logic"
Implement all needed packets, chunk/world gen, saving, etc...

[2020-12-30 18:46] #111 closed

[2020-12-31 11:23] itsmewulf commented on #4
oh crap sorry for unassigning, thought this was my meme issue

[2021-01-04 13:45] Iapetus-11 commented on #4
All serverbound packets completed! 🎉🎉

[2021-01-07 00:37] Iapetus-11 opened #155 "Add Buffer.pack_trade()"
Needed for PlayTradeList (`0x26`). See [here](https://wiki.vg/Protocol#Trade_List) for the format. `Buffer.unpack_trade()` is most likely not needed, and does not need to be completed for this issue to be closed.

[2021-01-07 03:25] #155 closed

[2021-01-07 18:04] Iapetus-11 opened #161 "Unnecessary functions in Buffer class of buffer.py"
There are some *possibly* unused functions used for packing/unpacking data in the Buffer class. However, they may be needed in the future as we haven't finished all of the packets yet. When 4-create-packets is finished, the following should be undertaken for every method in the Buffer object:

1. Check if method/function is used
2. If not, comment out the entire code for that function, and remove

[2021-01-11 01:57] Iapetus-11 opened #162 "Add a Buffer.pack_optional() and Buffer.unpack_optional()"
* This is to be used for [optional packet fields](https://wiki.vg/Protocol#Data_types), and will make life so much easier.
* Optional fields are ones which are marked by a boolean, if the boolean is `True`, then that field will actually be present, otherwise there will be no following field.
* `Buffer.pack_optional()` should take two arguments, the packer method (like `Buffer.pack_varint`) and the

[2021-01-11 02:14] #162 closed

[2021-01-12 17:53] Iapetus-11 commented on #112
Marking as invalid and closing as I want to split these up into different issues.

[2021-01-12 17:53] #112 closed

[2021-01-12 17:55] Iapetus-11 opened #170 "Start on cleaning up plugin related code + plugin API"
Cleanup plugin related code, and start on the basic plugin api.

[2021-01-14 03:20] Iapetus-11 opened #178 "Rename src folder to pymine"
Rename the `src` folder to `pymine` for clarity in imports for plugin developers and because it looks better. This will also entail refactoring imports in almost all files.

[2021-01-15 14:53] #178 closed

[2021-01-20 01:39] #170 closed

[2021-01-20 01:49] Iapetus-11 opened #188 "Missing Buffer methods"
Don't know where they went, but they include `Buffer.pack_entity_metadata` and `Buffer.pack_particle` and possibly others...

[2021-01-20 02:57] #188 closed

[2021-01-20 03:12] Iapetus-11 opened #190 "Merge StreamReader and StreamWriter"
## What do?
* Merge the `StreamReader` and `StreamWriter` objects together in `server.py`'s `handle_con()` function.
* By extension, the `EncryptedStreamReader` and `EncryptedStreamWriter` classes in `util/encryption.py` should be merged as well.

## Benefits
* Easier for developers of PyMine
* Less function args, makes for cleaner function headers
* Easier to understand for plugin devs
* slightly

[2021-01-20 03:32] Sh-wayz commented on #190
I haven't directly worked with it but yep seems easier for anyone who does.

[2021-01-20 15:17] #190 closed

[2021-01-20 17:10] Iapetus-11 opened #192 "OOPIFY"
## What do?
- Currently the codebase is *functional*, based around functions calling each other. This is not really Pythonic and makes for very messy code.
- Convert to OOP (Object Oriented Programming)

## Benefits
- Cleaner codebase
- Easier for plugin developers to understand + use
- Looks nicer

[2021-01-20 17:55] Iapetus-11 opened #193 "Cleanup plugin API"
## What do?
* Move most of `api/__init__.py` to `api/api.py` and limit what parts of the API are exposed to the plugin developer

[2021-01-20 20:12] Iapetus-11 opened #194 "Create the wiki (under wiki tab)"
## What do?
### Pages
- A home/index page with a table of contents and something similar to the readme
- Installation instructions
- Installing plugins
- Developing plugins
- Project status (maybe)
- Development of PyMine guidelines (maybe)

## Benefits
- Provides accessible information to users / developers
- Centralized place to store information on the project
- Makes project seem more official

[2021-01-20 20:59] Iapetus-11 opened #196 "Future Optimizations / Ideas"
## List of optimizations (to maybe be implemented later) to make PyMine fast!
### World pre-generation
- Each region or group of chunks to be generated handled by a separate process
- Easily parallelized via multiprocessing
- Benefits:
	- Faster world/chunk times for the pre-generated chunks
	- Less strain on the server later on
- Drawbacks:
	- Would probably render the server super laggy when act

[2021-01-20 21:48] Iapetus-11 opened #197 "Server address is None"
### Describe the bug
- Server address appears as None

### To Reproduce
1. Download + run PyMine without a preexisting `server.yml`

### Expected Behavior
- Server address should be automatically detected if not present.

[2021-01-20 22:05] #197 closed

[2021-01-20 22:47] Iapetus-11 opened #199 "Remove use of a plugins.yml"
### What Do?
* Plugins should come with their own file in the root folder of the plugin called something like `plugin.yml`
* This should replace plugins.yml

### Benefits / Reason?
* Removes need for end user to have to config their own `plugins.yml`
* Makes it easier to use + install plugins

[2021-01-21 21:43] Iapetus-11 opened #204 "Move command API"
### What Do?
* Move command API code under `pymine/api/`

### Benefits / Reason?
* Cleaner and less confusing codebase

[2021-01-21 23:52] Iapetus-11 opened #205 "Make plugin updating concurrent"
### What Do?
- Update each plugin concurrently (at the same time)

### Benefits / Reason?
- Updating each plugin takes about a second each, parallelized it would be wayyyyy faster.

[2021-01-22 22:44] Iapetus-11 opened #207 "Plugin Ideas"
## Plugin ideas!
*Feel free to make some of these! Ones which have been done reasonably well will be crossed out and linked to!*

### Utility
- [ ] permission manager
- [ ] bedrock server support (like Geyser)
- [ ] discord server link - is that not part of auto-message a bit lower down?
- [ ] core-protect clone (anti grief + logging + rollback capabilities)
- [ ] essentialsx knockoff (bunch of us

[2021-01-23 00:43] #192 closed

[2021-01-23 00:43] #204 closed

[2021-01-23 04:22] #205 closed

[2021-01-23 13:50] Ammar-sys opened #211 "contributing md discord link bug"
### Describe Bug
you get redirected to wrong page https://gyazo.com/cd77477b4128dba6919aba22c86ceefb ; instead you should be redirected to the invite which invites you to the discord

### To Reproduce
1. Go to contribute md
2. Click on the discord link
3. See the issue

### Expected Behavior
you should be invited to the discord

### Screenshots / Proof
https://gyazo.com/cd77477b4128dba6919aba22c86

[2021-01-23 16:06] #211 closed

[2021-01-24 18:08] Sh-wayz opened #212 "Make bot do the work for us (all-contributors)"
@all-contributors add @Iapetus-11  for contribution, design, data, example, ideas, mentoring, maintenance

[2021-01-24 18:08] Sh-wayz commented on #212
better work

[2021-01-24 18:08] Sh-wayz commented on #212
aaaaaaaaaaaaaaaaaa

[2021-01-24 18:09] Sh-wayz commented on #212
@all-contributors add @Iapetus-11  for contribution

[2021-01-24 18:09] Sh-wayz commented on #212
eeeeeeeeeeeeeeeeeee

[2021-01-24 18:10] Sh-wayz commented on #212
@all-contributors add @Iapetus-11  for code

[2021-01-24 18:10] Sh-wayz commented on #212
@all-contributors add @Iapetus-11  for design

[2021-01-24 18:10] Sh-wayz commented on #212
@all-contributors add @Iapetus-11  for plugin

[2021-01-24 18:10] Sh-wayz commented on #212
@all-contributors add @Iapetus-11  for data

[2021-01-24 18:10] Sh-wayz commented on #212
@all-contributors add @Iapetus-11  for mentor

[2021-01-24 18:11] Sh-wayz commented on #212
@all-contributors add @Iapetus-11  for doc

[2021-01-24 18:16] Sh-wayz commented on #212
its everybodys job to keep it updated

[2021-01-24 19:19] Iapetus-11 opened #214 "Refactor generator comp into list comp if it's used with .join()"
### What do?
- All code like `b''.join(something for something in somethin)` should be replaced with `b''.join([something for something in somethin])`

### Why tho?
- It's over 2x faster using PyPy, and still significantly faster in regular Python.

[2021-01-24 21:34] #214 closed

[2021-01-24 22:16] Sh-wayz commented on #212
@all-contributors add @emerald73 for code

[2021-01-24 22:17] Sh-wayz commented on #212
@all-contributors add @emerald73 for ideas

[2021-01-24 22:18] Sh-wayz commented on #212
@all-contributors add @emerald73 for bug

[2021-01-24 22:18] Sh-wayz commented on #212
@all-contributors add @emerald73 for maintenance

[2021-01-24 22:19] Sh-wayz commented on #212
@all-contributors add @emerald73 for question

[2021-01-24 22:19] Sh-wayz commented on #212
@all-contributors add @Iapetus-11 for question

[2021-01-24 22:20] Sh-wayz commented on #212
@all-contributors add @emerald73 for review

[2021-01-24 22:22] Sh-wayz commented on #212
@all-contributors add @Ammar-sys  doc

[2021-01-24 22:26] Sh-wayz commented on #212
@all-contributors add @Sh-wayz code bug

[2021-01-24 22:27] Sh-wayz commented on #212
@all-contributors add @Sh-wayz doc example maintenence question review test

[2021-01-24 22:35] Sh-wayz commented on #212
@all-contributors add @emerald73 code

[2021-01-24 22:36] Sh-wayz commented on #212
@all-contributors add @emerald73 code

[2021-01-24 22:42] Sh-wayz commented on #212
hmmmmm

[2021-01-24 22:43] Sh-wayz commented on #212
@all-contributors add @emerald73 code

[2021-01-24 22:54] Iapetus-11 commented on #212
@all-contributors add @Iapetus-11 bug

[2021-01-24 22:54] Iapetus-11 commented on #212
@all-contributors add @Iapetus-11 example

[2021-01-24 22:54] Iapetus-11 commented on #212
@all-contributors add @Iapetus-11 doc

[2021-01-24 22:55] Iapetus-11 commented on #212
@all-contributors add @Iapetus-11 ideas

[2021-01-24 22:55] Iapetus-11 commented on #212
@all-contributors add @Iapetus-11 infra

[2021-01-24 22:55] Iapetus-11 commented on #212
@all-contributors add @Iapetus-11 maintenance

[2021-01-24 22:55] Iapetus-11 commented on #212
@all-contributors add @Iapetus-11 platform

[2021-01-24 22:56] Iapetus-11 commented on #212
@all-contributors add @Iapetus-11 projectManagement

[2021-01-24 22:56] Iapetus-11 commented on #212
@all-contributors add @Iapetus-11 research

[2021-01-24 22:56] Iapetus-11 commented on #212
@all-contributors add @Iapetus-11 review

[2021-01-24 22:56] Iapetus-11 commented on #212
@all-contributors add @Iapetus-11 security

[2021-01-24 22:56] Iapetus-11 commented on #212
@all-contributors add @Iapetus-11 test

[2021-01-24 23:12] Iapetus-11 commented on #212
@all-contributors add @itsmewulf code

[2021-01-24 23:56] Iapetus-11 opened #224 "Add Buffer.pack_modifier()"
### What do?
- Add a classmethod to the `Buffer` class which packs modifier data. (Should be called `pack_modifier`)
- See here for examples on modifier data:
  	- https://minecraft.gamepedia.com/Attribute#Modifiers
	- https://wiki.vg/Protocol#Entity_Properties

### Why tho?
- Required for the `PlayEntityProperties` packet.

[2021-01-25 02:59] Sh-wayz commented on #212
ill leave this open until emerald does his, but after that the bot can be used in the comments of the pr/issue that the person is contributing with

[2021-01-25 03:03] Iapetus-11 opened #225 "Simplify packet handler handling"
### What do?
- Remove the need for a bool to be returned from packet handlers
- Replace it with a custom exception, something like `StopHandlingStream`

### Reason
- Simpler code
- Probably slightly faster

[2021-01-25 03:07] Iapetus-11 commented on #212
@all-contributors remove @Iapetus-11 design, infra, platform

[2021-01-25 04:11] Iapetus-11 commented on #90
This looks very very promising: https://github.com/prompt-toolkit/python-prompt-toolkit
(special thanks to @ashwinvin for making me aware of it!)

[2021-01-25 12:51] Iapetus-11 commented on #212
@all-contributors add @ashwinvin ideas

[2021-01-25 12:58] Iapetus-11 commented on #212
@all-contributors add @emerald73 review, ideas, bugs

[2021-01-25 12:58] Iapetus-11 commented on #212
@all-contributors add @Sh-wayz management

[2021-01-25 12:58] Iapetus-11 commented on #212
@all-contributors add @emerald73 management

[2021-01-25 13:05] #225 closed

[2021-01-25 13:12] Iapetus-11 commented on #90
https://python-prompt-toolkit.readthedocs.io/en/stable/pages/asking_for_input.html?highlight=async#prompt-in-an-asyncio-application

[2021-01-25 18:27] Iapetus-11 commented on #90
After much experimentation I've run into an issue, the prompt is overwritten by new text. Yes I've tried using the `patch_stdout()` context manager, in multiple different places. If you can get it working, that'd be awesome.

[2021-01-25 18:28] Iapetus-11 commented on #90
In addition, it's also far slower than the normal print() statement so when debug mode is on, packet handling (and everything really) is slowed down significantly.

[2021-01-25 20:08] Iapetus-11 commented on #90
Also the branch (90-console) could be deleted as not much has been done (and it's not even in a working condition)

[2021-01-25 20:13] Iapetus-11 opened #230 "Play/Server Logic"
### What do?
- Start on packet handlers for play packets, world saving + loading code, etc...
- For packet handlers, you should go roughly "in order", basically do the ones most integral to being able to play on the server first.

[2021-01-25 22:21] Iapetus-11 opened #231 "Create NBT lib"
### Feature
- NBT library with classes for all NBT types, and methods for dealing with NBT data.
- Should probably put it in under `pymine/types/nbt/*`

### Reason
- All the other NBT libs I've seen either have unnecessary/extraneous features or are needlessly complex and slow.

[2021-01-26 02:30] Sh-wayz commented on #212
@all-contributors add @emerald73 tests

[2021-01-26 02:58] Sh-wayz commented on #212
im gonna call this good, any other ones can be added on the relevant pr or issue

[2021-01-26 02:58] #212 closed

[2021-01-27 00:07] Iapetus-11 opened #237 "Create tests"
### Feature
- Basic description of what this idea / new feature would entail
- List out all features of the idea / new feature

### Reason
- Reasoning / benefits behind this feature / idea.

[2021-01-27 00:13] Iapetus-11 opened #238 "Create tests"
### Feature
- Make tests for everything that's testable, of course within reason.
- Tests should go under `tests/`
- We should use [unittest](https://docs.python.org/3/library/unittest.html) or [pytest](https://docs.pytest.org/en/stable/) (pytest looks better)
- Tests should be split up into different files by their category
- We should have tests for: (this a list of what I can think about rn, fe

[2021-01-27 00:14] #237 closed

[2021-01-27 00:15] #231 closed

[2021-01-27 02:07] Iapetus-11 opened #239 "Update buffer and requirements.txt"
- Remove nbt from the requirements.txt
- Update buffer methods which deal with nbt to use the new lib

[2021-01-27 02:53] #239 closed

[2021-01-27 03:21] #224 closed

[2021-01-27 03:34] Iapetus-11 commented on #212
@all-contributors add @ashwinvin docs

[2021-01-27 13:32] Iapetus-11 opened #244 "Create docs"
- Create documentation on https://readthedocs.org
- This should be as detailed as possible
- Ask me on Discord if you want me to explain something or make a description / docs for it.

[2021-01-27 13:41] Iapetus-11 commented on #244
Please note, #23 should *probably* be completed first...

[2021-01-27 14:05] Iapetus-11 opened #245 "Add query support"
### What do?
- Add a `query_enabled` and `query_port` to the `server.yml`.
- If query is enabled, create a UDP server on the specified port, if the port isn't specified, use the one the server is on.
- Should support the [query protocol](https://wiki.vg/Query) in its entirety.
- Packets (which can be functions, nothing complex needed for only like 4 packets), should go under `pymine/net/query`.
-

[2021-01-27 14:14] Iapetus-11 opened #246 "Add RCON support"
### Feature
- Add an `rcon_enabled`, `rcon_port`, and `rcon_password` to the `server.yml`
- If `rcon_enabled` is true, start a tcp server on the specified port (or if not present `25575`)
- This should support the entirety of the [rcon spec](https://wiki.vg/RCON).

[2021-01-27 19:38] imsofi opened #248 "README's "Installing from source" leads to ModuleNotFoundError."
When attempting to follow each step written in the `Installing from source` section in the README with either pypy3 or python3, it leads to a `ModuleNotFoundError` when running the last step, `python3 pymine/server.py`.

Pypy3:
[code]

Python3:
[code]

[2021-01-27 20:01] Iapetus-11 commented on #248
Ah thanks for bringing this to my attention, the README is just outdated. To run the server you can now do `pypy3 pymine` or `python3 pymine` from the PyMine folder!

[2021-01-28 19:55] Iapetus-11 opened #249 "Add support for plugin dependencies"
### Feature
- Add dependencies section to `plugin.yml`
- When loading the `plugin.yml`, check it for possible malicious code?
- Attempt to install dependencies via pip, if that fails, don't load the plugin

### Reason
- Plugins might depend on other python modules, and there should be an easy way for them to be installed for the end user.

[2021-01-28 20:06] Iapetus-11 opened #250 "Add Sofi as a bug reporter"

[2021-01-28 20:06] Iapetus-11 commented on #250
@all-contributors add @imsofi bugs

[2021-01-28 20:08] #250 closed

[2021-01-28 20:29] #248 closed

[2021-01-29 21:16] #249 closed

[2021-01-30 21:13] TrustedMercury opened #254 "Add more meta data fields to plugin.yml"
### Feature
Add more meta data fields to plugin.yml like -
- name (required)
- description
- version (required)
- author
- license
- website/docs?

### Reason
Allows more customizability for the developer, easily provide information about the plugin in a command like /pl info? and much much more; no harm, most of it is optional

[2021-01-30 21:25] Iapetus-11 commented on #254
@all-contributors add @TrustedMercury ideas

[2021-02-02 03:30] Iapetus-11 opened #256 "Proper command argument parsing"
### Features
- Add parser which parses different types for commands, based on the typehints/annotations from `func.__annotations__`
- Add ability to add custom parsers
- This should support all parsers in the below checklist
- Parsers should be structured into classes for ease of use
- For more information on commands, see here: https://wiki.vg/Command_Data

### Reason
- Needed for `PlayDeclareCom

[2021-02-03 03:02] Iapetus-11 opened #257 "SNBT Parser"
### Feature
- Add an SNBT parser like this one here: https://github.com/vberlier/nbtlib/blob/main/nbtlib/literal/parser.py
- Please

### Reason
- Needed for commands, and for making my life easier

[2021-02-03 13:39] Iapetus-11 opened #258 "Create a bitfield data structure or helper functions"
### Feature
- https://stackoverflow.com/questions/142812/does-python-have-a-bitfield-type
- https://wiki.vg/Protocol#Player_Abilities_.28clientbound.29

### Reason
- Ease of use of bitfields

[2021-02-03 15:40] #258 closed

[2021-02-03 18:04] Sh-wayz commented on #194
Is this still needed? Seems like readthedocs.io is the way to go.

[2021-02-04 01:34] Iapetus-11 commented on #194
Yeah agreed, I didn't realize it was so capable and easy to use when I first checked it out!

[2021-02-04 01:34] #194 closed

[2021-02-06 03:09] milanmdev opened #260 "Make whitelist"
### Feature
- Says it all in the title lmao

### Reason
- Because it's probably a good idea for "bungeecord servers". Obv this isn't bungeecord, but there might be a feature soontm!

[2021-02-06 03:10] Iapetus-11 commented on #260
@all-contributors add @milanmdev ideas

[2021-02-06 03:45] ashwinvin opened #262 "Player join events"
### What do?
- [x] Create an `on_join` event that fires when a player fully loads into a world
- [x] Create an `on_login_success` event that fires on login success

### Why tho?
- Useful for plugin developers to create things like a MOTD, custom join messages, password protected servers, etc...

[2021-02-09 14:40] Iapetus-11 commented on #256
https://wiki.vg/Command_Data see here for a full list of parsers that need to be implemented

[2021-02-10 15:41] Iapetus-11 commented on #23
#244 has taken over the content of this issue.

[2021-02-10 15:41] #23 closed

[2021-02-10 23:23] Sh-wayz commented on #23
RIP in peace. 😢

[2021-02-13 16:18] Sh-wayz opened #266 "Shell rewrite"
### Feature
- The shell should have a decent `help` command, that if run without arguments should show common commands.
- If `dev_mode` is enabled in the server.yml, not recognized commands should be evaluated as python.
- Later on the `help` command should also grab the docstring of commands added by plugins, not necessary right now.
- Maybe a secret option for custom shell prompts to get rid of

[2021-02-13 16:22] Iapetus-11 commented on #256
Merging this issue into #266

[2021-02-13 16:22] #256 closed

[2021-02-15 15:44] Iapetus-11 commented on #238
Closing because most of the tests that can be done have been done. As we add more features, tests can be added on the branch those features were added on.

[2021-02-15 15:44] #238 closed

[2021-02-15 19:59] #245 closed

[2021-02-18 01:07] Iapetus-11 opened #268 "Add option to use unix sockets (use_native_transport)"
### Feature
- Allow server to use unix sockets
- Add an option to the server.yml, `use_native_transport` with a default value of `true`

### Reason
- unix sockets have the advantage of being faster, when on linux/unix based systems

[2021-02-18 01:33] Iapetus-11 commented on #268
Turns out I'm dumb and that's *not* what unix sockets are for, anyways...

[2021-02-18 01:33] #268 closed

[2021-02-22 22:07] Sh-wayz commented on #4
So close

[2021-02-23 13:19] Iapetus-11 commented on #230
- Currently working on storing chunks in memory in an efficient way which allows them to be put into both a chunk packet and region file efficiently and quickly

[2021-02-25 02:06] Iapetus-11 opened #269 "Redo plugin structure... again"
### Feature
- Should be more similar to discord.py's cogs

Perhaps something like this:
[code]

- Comes with the niceness of not having to use global variables for complex plugins
- Developers familiar with discord.py's cogs (of which there are many familiar with PyMine) will be more familiar with the PyMine plugin structure
- Perhaps event/command registering would be per plugin cog

[2021-02-25 02:06] Iapetus-11 commented on #90
This has been taken over by #266

[2021-02-25 02:06] #90 closed

[2021-02-25 22:47] the456gamer commented on #260
could this be implimented as a plugin of somesort? like some sort of layer that checks during the login process?
would the plugin then be built in and auto launched? modulise internal functions, and be able to disable them as (un) needed?

[2021-02-25 23:12] Sh-wayz commented on #254
Pretty sure this isn't something that needs any changes, all fields are loaded from the plugin.yml already afaik, it's up to the dev to include it.

[2021-02-25 23:26] the456gamer commented on #207
large scale world editing (like world edit)
fabric compatibility?
if java modding apis get implimented, then why not existing java **Plugin** apis, like Bukkit ([Bukkit git](https://hub.spigotmc.org/stash/projects/SPIGOT/repos/bukkit/browse))
a decent resource pack manager? maybe a gui for the client?
[Sponge API](https://github.com/SpongePowered/SpongeAPI)
punishments (banning/tempbanning/muting/

[2021-02-26 00:58] Iapetus-11 commented on #254
Although, these fields (because they'll probably be used in something like a `/plugins` command), should be required, not up to the dev to add it. Changes for this will prob be made in `pymine/api/__init__.py`

[2021-02-26 01:01] Sh-wayz commented on #254
Not *all* of them should be required though, I agree with @TrustedMercury  about which should be required and which shouldn't

[2021-02-26 01:06] the456gamer commented on #254
(some of) The information from plugin file should be able to be dynamically modified.
Say there is a plugin that takes the git URL of a plugin, fetches the head or whatever, and finds a list of contributors and dynamicly adds it to the end.
Also suggestion: multiple author support
Able to define authors: [] as a list or authors
If you define both, author should be used as a shortened version in sp

[2021-02-26 01:15] the456gamer opened #270 "change name in plugin.yml to namespace:name"
### Feature
Use a Minecraft like namespace feature in plugin file. This makes sure that plugins names are unique
- code signing certs should only be valid under the one namespace it was issues for
- adapt to allow for python limitations and characters
- styled like Minecraft, with alpha numeric, colon, path
Or something

### Reason
- Reasoning / benefits behind this feature / idea.
- allows for mu

[2021-02-26 01:17] the456gamer opened #271 "distinguish between plugin types"
### Feature
- Basic description of what this idea / new feature would entail
- List out all features of the idea / new feature
Different types: those that just extend the server: add features for other plugins, etc
Those adding gameplay features,
APIs?

### Reason
- Reasoning / benefits behind this feature / idea.
Separation between maybe higher privileges

[2021-02-26 01:25] the456gamer commented on #254
For the plugin.yml, a new identifyer called dist-info or something, a list of meta tags set by the distributor (say pymine official plugin repository might add a tag called category etc

Might be better as a sidecar like file as this would break signing (code modified by distributor)

Use:: the distributor might provide a custom plugin that manages its own plugins, including custom auto updates, i

[2021-02-26 01:28] the456gamer opened #272 "key value storage for plugins"
Add a dynamic key: value storage database for plugins to use. This wouldn't be for user configuration, but more plugins sitting persistent info

There should be support for multiple backends, including external
And ideally convert between them

[2021-02-26 01:31] the456gamer opened #273 "s"
### Feature
- Basic description of what this idea / new feature would entail
- List out all features of the idea / new feature

### Reason
- Reasoning / benefits behind this feature / idea.

[2021-02-26 01:36] Iapetus-11 commented on #273
@all-contributors add @the456gamer ideas

[2021-02-26 01:38] Iapetus-11 commented on #272
In things like spigot/bukkit, that's left up to the developer to implement. This usually takes the place of a sqlite database, which is probably the best solution for plugins and is better per plugin rather than for the entire server.

[2021-02-26 01:39] Iapetus-11 commented on #271
Not really needed, and there's no efficient way to limit the privileges of a plugin anyways.

[2021-02-26 01:39] #271 closed

[2021-02-26 01:42] the456gamer commented on #272
In general tho, a managed (by the server) dB might encourage reducing repetition. (5 different plugins all logging block events for different reasons., Tho that might be solved with a proper intermediate layer)

[2021-02-26 01:45] Iapetus-11 commented on #272
That would be the best way, also, you probably won't ever need multiple plugins logging block interactions to a database. In addition, if those plugins aren't utter trash, they'll have configuration options which allow the toggling of what things are logged, therefore removing the unnecessary repetition.

[2021-02-26 01:46] the456gamer commented on #272
Closing since out of scope

[2021-02-26 01:46] #272 closed

[2021-02-26 01:49] Iapetus-11 commented on #260
I don't see why it should be, it's a feature built in to vanilla servers and as such should be a feature built in to PyMine.

[2021-02-26 01:50] Iapetus-11 commented on #207
Setting `debug` to `true` in the `server.yml` enables packet logging.

[2021-02-26 01:53] the456gamer commented on #260
if its developed to be a plugin intercepting the flow, it may be a demo, and being able to fully diable (not even checking/asking the code) may be beneficial

[2021-02-26 01:53] Iapetus-11 commented on #260
I don't understand?

[2021-02-26 01:55] Iapetus-11 commented on #254
Each plugin developer distributing an extra plugin for auto updates sounds like a mess, especially since that code has to be ingrained deep into the plugin loading process. We actually had plugin auto updating as a separate plugin a while ago, but it turned out to be a mess that was easily cleaned up by just making it a core part of PyMine.

[2021-02-26 02:16] the456gamer opened #275 "plugins: impliment code signing"
### Feature
- Basic description of what this idea / new feature would entail
- List out all features of the idea / new feature
support for importing plugins from a zip file (modules already support this)
generate a private distrobution key to sign build information and confirm it has been reviewed and is safe
use a private developer key to confirm the author of the code to a developer
 - think abo

[2021-02-26 02:18] the456gamer commented on #254
i was more thinking plugin distrobutor, like spigotmc.org
and it was as an optional compliment to the built in updater

[2021-02-26 02:20] the456gamer commented on #207
I should have checked more closely, Ty.

[2021-02-26 02:32] the456gamer commented on #207
Two factor authentication: totp, hotp?, Uf2/webauthn
Email, SMS, discord?

Totp/hotp -> in-game, using maps + qr codes
Email -> external, click link sent in email enter code shown ingame, or enter code sent in email
Uf2/webauthn/fido2 -> external helper webserver + website, redirects
SMS API,
Discord, DM userq

[2021-02-26 06:35] infinitygamer404 opened #276 "Add custom resource pack support"
### Feature
- A way to add custom resource pack(s) for the server.
- The resource pack(s) can be optional or required for the player to accept.

### Reason
- So that it's convenient for new players to use the resource pack that the server owner wants them to use.

[2021-02-26 07:28] the456gamer commented on #276
Like vanilla, it should ask for the hash of the file to send with it

[2021-02-26 08:47] the456gamer commented on #275
[Import processing](https://docs.python.org/3/reference/import.html#import-hooks)
-> finds all plugins in a directory, stores as a list of paths to import
for each, call import with the extra hook. this extra hook verifys the developer signiture and the publisher/distrobution signiture. if either check fails, should either: warn the user, ask to continue
if debug mode: -> warn in console, contiue

[2021-02-26 13:19] Iapetus-11 commented on #276
PyMine aims to include all vanilla features eventually, so this issue is unnecessary. Please stop making issues for vanilla features unless you plan to create a matching PR for them.

[2021-02-26 13:19] #276 closed

[2021-02-26 14:48] Iapetus-11 commented on #273
Also, this should be included as part of #266.

[2021-02-26 14:55] Sh-wayz commented on #275
@all-contributors add @the456gamer  ideas

[2021-02-28 02:08] #161 closed

[2021-02-28 15:46] the456gamer opened #280 "Stopping the Server causes unique behavour"
# Describe Bug
when stopping the server, multiple unexpected outcome could occur. these do not seem desirable and are therefore a bug.

# To Reproduce
## 1
1. start the server
1. type stop
<details><summary>error + screenshot</summary>
<p>

![image1](https://user-images.githubusercontent.com/42748092/109424189-93891c80-79da-11eb-8ce6-76de3f86c226.png)

[code]

</p>
</details>

## 2
1.  start the s

[2021-02-28 17:53] Iapetus-11 commented on #280
Is `debug` true in the server.yml?

[2021-02-28 17:56] the456gamer commented on #280
it was, yes

[2021-02-28 18:01] ashwinvin opened #281 "Use aiofiles instead of aiofile"
### Feature
- Change all the usage of aiofile to aiofiles

### Reason
- It features a more pythonic api.

[2021-02-28 18:12] Iapetus-11 commented on #281
go on...

[2021-02-28 23:20] the456gamer commented on #270
This seems stupid now I think about it more. There is probably a reason no-one else does this

[2021-02-28 23:20] #270 closed

[2021-03-02 17:01] pratishrai commented on #281
I wanna work on this issue.

[2021-03-02 17:03] Iapetus-11 commented on #281
https://github.com/mosquito/aiofile/issues/18 According to this post, aiofile appears to be faster than aiofiles, so we shouldn't switch for the time being. If something else arises further down the line, we can switch.

[2021-03-02 17:03] #281 closed

[2021-03-02 17:04] Iapetus-11 commented on #280
It should be resolved now! (let me know if it's not!)

[2021-03-02 19:07] Iapetus-11 opened #284 "Properly credit contributors"

[2021-03-02 19:08] Iapetus-11 commented on #284
@all-contributors add @Sh-wayz infra

[2021-03-02 19:08] Iapetus-11 commented on #284
@all-contributors add @Iapetus-11 infra

[2021-03-02 19:09] Iapetus-11 commented on #284
@all-contributors add @the456gamer bugs

[2021-03-02 19:10] Iapetus-11 commented on #284
@all-contributors add @Iapetus-11 research

[2021-03-02 19:11] Iapetus-11 commented on #284
@all-contributors add @ashwinvin research

[2021-03-02 19:11] #284 closed

[2021-03-02 19:18] Iapetus-11 opened #290 "Have github workflows ignore prs/commits made by the all-contributors bot"
### *Why?*
- Ignore all pull requests, commits, comments, etc.. from the all-contributors bot in order to reduce spam

[2021-03-02 22:54] the456gamer commented on #280
now testing on windows
![image](https://user-images.githubusercontent.com/42748092/109726200-2deb8a80-7baa-11eb-8867-ee5529c1a958.png)

stop is good, ctrl c isnt needed twice, but now errors
[code]

[2021-03-02 22:59] the456gamer commented on #280
updating my requirements gives me a longer error:
[code]

[2021-03-02 23:01] the456gamer commented on #280
both cases are however fine on linux

[2021-03-03 02:37] Iapetus-11 commented on #280
Now resolved with the latest commits to the `cmds-shell` branch, I will merge to main shortly!
![image](https://user-images.githubusercontent.com/38477514/109743950-85382d80-7b9f-11eb-8bb4-261414084807.png)

[2021-03-03 02:37] #280 closed

[2021-03-06 16:39] Iapetus-11 commented on #230
- Currently working on sending light update packets properly, once that is done I will close this issue and merge to main!

[2021-03-06 16:58] Iapetus-11 opened #297 "Basic vanilla commands"
### What do?
- Add basic vanilla commands
- This should include at least:
	- [ ] `/help`
	- [ ] `/ban`
	- [ ] `/kick`
	- [ ] `/pardon`
	- [ ] `/tp`
	- [ ] `/stop`
	- [ ] `/list`
	- [ ] `/gamemode`
	- [ ] `/setworldspawn`
	- [ ] `/kill`

[2021-03-06 17:01] Iapetus-11 opened #298 "Add non-vanilla commands (Perhaps like ones from Spigot)"
### What do?
- Add commands which aren't present in the vanilla command set.
- This could be anything from `/tps` (which shows the ticks per second) to built-in world edit commands
- Leave suggestions below in comment form (1 comment per person please) on what you'd like to see. Comments should contain the command in a form similar to "`/command` - description".

[2021-03-06 17:05] Iapetus-11 opened #299 "Add rest of vanilla commands"
### Feature
- Add the rest of the commands not added in #297.
- Adding support for all vanilla commands is far lower priority than what is mentioned in #297 and #298, hence why there's a seperate issue.

[2021-03-07 16:28] pixlperfect01 opened #300 "World Generation"
### Feature
- Vanilla-ish World generation

### Reason
- Petus requested i make an issue for this

[2021-03-07 16:50] Iapetus-11 commented on #300
The first working `AbstractWorldGenerator` subclass should be saved just so we can see how far we've come!

[2021-03-08 19:16] #269 closed

[2021-03-09 07:27] the456gamer commented on #298
Plugin information - list all in multiple formats (spigot like, more like a table name:version thing), hover+click for more info. Show individual plugin s (/ver like)

Plugin manipulation (load, unload, reload)
All under 1 command (like vanilla s data pack command)

Server information - show server type, server version, Minecraft version, git commit (if possible, Gary's by distribution method)

Se

[2021-03-09 09:07] the456gamer opened #302 "allow for statistics exporting"
### Feature
- allow for statistics and console logging to be live exported to a central statistics /logging server
Link to per plugin logging, expose a "channel" per plugin

### Reason
- centralised

[2021-03-10 20:55] Iapetus-11 opened #303 "Built-in multi-world support!"
- PyMine should have built-in support for multiple worlds (aside from the default overworld, nether, and end)
- Perhaps there would be a set of commands allowing for the easy management of the worlds.

### Reason
- Multi-world plugins tend to be jank or hard to use, PyMine having built in multi-world support would be an excellent addition.

[2021-03-10 21:13] the456gamer commented on #303
world "groups" - collections of worlds that are linked together (think inventorys/playerdata) to allow for mutiple overworlds, nethers and ends
natural portals

[2021-03-12 03:29] dh2di3oj2 opened #304 "robot is still a paper weight"
### Describe Bug
A clear and concise description of what the bug is.

### To Reproduce
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected Behavior
A clear and concise description of what you expected to happen.

### Screenshots / Proof
If applicable, add screenshots to help explain your problem.

### Additional Context
Add any other context about the problem here

[2021-03-12 03:29] Iapetus-11 commented on #304
unrelated to pymine

[2021-03-12 03:29] #304 closed

[2021-03-15 15:23] Sh-wayz opened #305 "Show current mode when vi_mode is enabled"
### Feature
What the title said, there should be something(Maybe a right prompt or bottom toolbar?) displaying current editing mode when vi_mode is enabled. No need for it to have the entire name, I for insert, N for normal, etc.

### Reason
It's nice to know which mode you're in so you don't accidentally mess up your command.

### Examples
These are screenshots of my [fish](https://fishshell.com/

[2021-03-16 12:04] Iapetus-11 commented on #305
Having it in the bottom right sounds good

[2021-03-16 16:30] Sh-wayz commented on #305
Turns out prompt_toolkits vi_mode implementation is a bit funky might have to ask the lead dev if there's a better way.

[2021-03-17 04:04] Sh-wayz commented on #244
For people who don't know reStructured text, consider checking out `pandoc` for transferring your preferred format (Markdown, HTML, etc) to reStructured.

[2021-03-17 04:11] Sh-wayz commented on #257
Is this still needed for command parsing?

[2021-03-17 04:13] Sh-wayz commented on #304
lmao

[2021-03-17 07:22] the456gamer commented on #257
I would guess this is under #266,
But a standalone snbt/nbt parser/converter wouldn't be bad ( think the vanilla data generator)

[2021-03-17 18:04] Sh-wayz opened #306 "Config cleanup"
### Feature
- Config should be sorted by category(rcon, query, world, etc)->alphabetically, with comments describing each section. Comment can be achieved with [ruamel.yaml](https://pypi.org/project/ruamel.yaml/)

### Reason
- The config should be mainly self-explanatory to new users. This also stops noob devs like myself spamming petus for help quite as often.

[2021-03-17 18:11] #196 closed

[2021-03-17 18:12] #207 closed

[2021-03-22 15:09] martin-feaux commented on #262
#310
`on_join` and `on_login_success` are handled by this pull request.

[2021-03-31 13:56] #262 closed

[2021-04-08 13:57] BodilessSleeper commented on #306
I'd like to help out but I'm not too familiar with creating servers or Minecraft, and this is what I think how categories should look:
- server/rcon:
-- debug
-- level_name
-- server_ip
-- server_port
-- gamemode
-- max_players
-- pvp
-- hardcore
-- motd
-- online_mode
-- white_list
-- spawn_protection
- world
-- generator
-- spawn_npcs
-- spawn_monsters
-- spawn_animals
-- seed
- player
-- view_d

[2021-04-08 15:08] the456gamer commented on #306
additonally i think that it should parse arguments for the location etc
![image](https://user-images.githubusercontent.com/42748092/114050399-22b00c80-9884-11eb-89d0-6601e3284b75.png)
like the java equivilant does

[2021-04-08 15:17] Iapetus-11 commented on #306
There's a couple issues with this, the PyYAML package doesn't support having ordered dictionary entries, and the `server.yml` is already in the parent directory?

[2021-04-08 15:19] Iapetus-11 opened #311 "Add support for poetry in the startserver scripts"
- We use poetry to manage dependencies cleanly, and the startserver scripts should have support for it!

[2021-04-08 15:56] the456gamer commented on #311
how is it not supported?

[2021-04-08 16:52] Iapetus-11 commented on #311
Like when attempting to run the server, add options like `poetry run py pymine` and `poetry run python3 pymine`

[2021-04-11 15:34] the456gamer commented on #311
it assumes that whatever virtual enviroment thing is already activated (by default).
normally, with venv or whatevery you would source the activate file, but poetry by the loogs of it uses `poetry shell`?

[2021-05-02 12:30] GrandmasterB42 commented on #4
Are there actually any missing? I looked through them all and couldn't find a single one that wasn't there. Are the docstrings the only thing that has to be added for some of them?

[2021-05-06 14:06] GrandmasterB42 commented on #303
It would be great if this worked across multiple physical Instances like bungeecord

[2021-06-28 11:37] the456gamer commented on #311
i think this is out of scope of a shell script, but maybe a seperate tool could be created to assist with server creation, and lifetime (start,stop,restart), and possibly a "form" style thing for configuration.

[2021-07-06 15:48] Sh-wayz commented on #305
Developer hasn't responded and I doubt it's gonna happen now, closing issue.

[2021-07-06 15:48] #305 closed

[2021-07-06 15:54] Sh-wayz commented on #302
What do you mean by server/channel? Are you talking about Discord? If so, it seems like the sort of thing that should be a plugin, not a builtin.

[2021-07-06 16:41] the456gamer commented on #302
No I mean like log channels: in bukkit a log channel is create per plugin, for the plugins getLogger method.
This is normally used for saying the plugins prefix in the console, but in general just logs the plugin that made the message

When refering to central servers for stats etc,
Logging servers refer to either SAAS, or selfhosted log agrevators, like logstash (elastic stack), or grafana Loki
T

[2022-02-17 19:10] GDWR commented on #311
If you are looking for a tool that will allow you to create predefined commands for poetry. Have a look at [Taskipy](https://pypi.org/project/taskipy/)

It allows you to specify these commands under aliases and then execute them.

I may have misunderstood your question tho.

[2022-02-18 21:48] Sh-wayz commented on #4
Packets have moved to [Pymine-Net](https://github.com/py-mine/PyMine-Net). Further information can be found there.

[2022-02-18 21:48] #4 closed

[2022-08-01 17:04] Kingteena commented on #244
Hi, I would like to help with this issue if it is still not being worked on. However, I am new to working on a project at this scale and I do not understand how the code works, let alone how to document this. Any advice for starting?

[2022-08-16 04:06] tobylai-toby opened #327 "Is this project still active?"

[2022-08-16 13:44] Iapetus-11 commented on #327
Both this and PyMine-Net are on pause. PyMine-Net will be completed before PyMine-Server, as the server has to be rewritten to use PyMine-Net.